  .occupancy-card.ok-status { --theme-color: #CCE499; }
  .occupancy-card.caution-status { --theme-color: #FFEE99; }
  .occupancy-card.full-status { --theme-color: #B3B4B6; }
  .occupancy-card {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
  }
  .occupancy-card .status {
    height: 125px;
    width: 125px;
    background-color: var(--theme-color, #B3B4B6);
    margin-right: 1.6rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .occupancy-card .status img {
    width: 50px;
    margin: auto;
    display: block;
  }
  .occupancy-card .status p {
    margin-bottom: 0;
    text-align: center;
    margin-top: 1em !important;
  }
  .occupancy-card progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 4px;
    background-color: #eee;
    width: 250px;
    max-width: 100%;
  }
  .occupancy-card progress[value]::-webkit-progress-bar {
    background-color: #eee;
  }
  .occupancy-card progress[value]::-webkit-progress-value {
    background-color: var(--theme-color, #238dc1);
  }
  .occupancy-card progress[value]::-moz-progress-bar {
    border-radius: 4px;
    background-color: var(--theme-color, #238dc1);
  }
